<h1> Daftar Buku terbaru</h1>
<table border="1">
  <tr>
    <td> ID </td>
    <td> Judul Buku </td>
    <td> Halaman</td>
    <td> Deskripsi</td>
  </tr>
  <% @books.each do |b| %>
  <tr>
    <td> <%= b.id %> </td>
    <td> <%= b.title %> </td>
    <td> <%= b.page %> </td>
    <td> <%= b.description %> </td>
    <td><%= link_to "Details", book_path(b) %></td>
    <td><%= link_to "Edit", edit_book_path(b) %></td>
    <td><%= link_to "Hapus", book_path(b), method: :delete %></td>
  </tr>
  <% end %>
</table>
<%= link_to "New Book", {controller:'books', action:'new'} %>
